# Chave para usar com Docker Local (.env): app.localhost
# Chave para usar com Docker em Deploy (.env.production): sistema-hospital.com.br
APP_DOMAIN=

# URL da API Backend
# Configure de acordo com seu ambiente:
# Desenvolvimento local com XAMPP (.env.development): http://localhost:8000/api
# Desenvolvimento local (.env) ou em Produção (.env.production) com Docker: https://${APP_DOMAIN}/api
VITE_API_URL=